@import "tailwindcss";

@theme {
  --breakpoint-sm: 300px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1040px;
  --breakpoint-xl: 1366px;
}

@font-face {
  font-family: "GoogleSans";
  src: url("./assets/fonts/static/GoogleSansFlex_120pt-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

body {
  font-family: "GoogleSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}